

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans', sans-serif;
  
}

.butttomsStyle{
  display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: center;
}


.home {
  background-image: url("/images/fondo/fondo-1.jpeg"); /* The image used */
  
  height: 650px; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

.h2-style{
  font-size: 25px;
  text-align: center;
  padding-top: 20px;

}

/* NAVBAR */

.nav-links-style{
text-decoration: none;
color: #bd1c0d;
padding-left: 20px;
padding-right: 20px;

}

nav.navbar { 
  display: flex;
  padding: 15px;
  background: #fcdede; 
  width: auto;
  
}


button.navbar-button {
  padding: 5px 20px;
  width: 100px;
  border-radius: 3px;
  margin: 0 10px;
  
}




/* HOME */

.home-style{
  

  display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
  align-content: center;
  margin-top: 70px;


}

.home-buttom{
  text-decoration: none;
  color: #bd1c0d;
  text-emphasis: none;

}




.home-title{
  font-family: 'Dancing Script', cursive;
  font-weight:bold;
  color: rgba(240, 61, 61, 0.863);
  margin-bottom: 50px;
}

.home-logo{
  width: 150px;
  height: 150px;
  margin-top: 30px;
  margin-bottom: 30px;
}



/* LOGIN */
.login-position{
  display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
  align-content: center;

}




.login-style{
  
  margin-top: 60px;
  
}

.login-buttom{
  display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
  align-content: center;
  
  
}

.login-btn-color{
  color: #bd1c0d;
}




/* SIGNUP */

.signup-style{
  
  
  display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
  align-content: center;
  margin-top: 60px;
 
  

}



/* PROFILE */

.profile-img{
  width: 150px;
  height: 150px;
  align-items: center;
  }

  .logout-img {
    width: 30px;
    height: 30px;
    font-weight: bolder;
    margin-right: 5px;
  }

  .profile-style{

    text-align: center;
    padding: 10px;
  }

  .addButtonStyle{
    display: flex;
    justify-content: center; 
    padding-bottom: 30px;
    
  }

  .links-style{
    text-decoration: none;
    color: rgb(99, 67, 67);
    font-size: 23px;
    text-align: center;
    
    
    }

  
 /* THOUGHTS LIST */


.brain-2-size{
  width: 40px;
  height: 40px;
  margin-bottom: 15px;
  
  }

  .listThoughts-positions{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-between;
  

  }

  .thoughts-position{
  display: flex;
	flex-direction: column;
	justify-content: center; 
  border: solid 0.5px rgb(222, 211, 133);
  margin: 20px;
  padding: 30px;

  }



   
    .title-style{
      text-align: center;
    }



    .myButton {

      display: flex;
      box-shadow:inset 0px 1px 0px 0px #f5978e;
      background:linear-gradient(to bottom, #fa776e 5%, #bd1c0d 100%);
      background-color:#fa776e;
      border-radius:6px;
      border:1px solid #d02718;
      cursor:pointer;
      color:#ffffff;
      font-family:Arial;
      font-size:15px;
      font-weight:bold;
      padding:6px 24px;
      text-decoration:none;
      text-shadow:0px 1px 0px #810e05;
      margin: 10px 0;
      
    }
    .myButton:hover {
      background:linear-gradient(to bottom, #bd1c0d 5%, #fa776e 100%);
      background-color:#bd1c0d;
    }
    .myButton:active {
      position:relative;
      top:1px;
  
    }
    
     /* THOUGHTS DETAILS */


    .form-style{

      display: flex;
      flex-direction: column;
      justify-content: center; 
      border: solid 0.5px rgb(222, 211, 133);
      margin: 20px;
      padding: 30px;

    }

     /* EDIT THOUGHTS */


     .form-style{

      display: flex;
      flex-direction: column;
      justify-content: center; 
      border: solid 0.5px rgb(222, 211, 133);
      margin: 20px;
      padding: 30px;

    }


/* INFO */

.video-size{
   
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: flex-end;
  align-content: space-between;

  }

  .video-position{
    margin: 15px 0;
  }

  .headings-style{
    font-size: 20px;
    text-align: center;
    padding: 30px;

  }

  .info-links-style{
    display: flex;
    flex-direction: column;
    text-emphasis: none; 
    text-decoration: none;
    text-align: center;
    color: rgb(99, 67, 67);
    border: solid 0.5px rgb(222, 211, 133);
    margin: 20px;
    padding: 20px;
    
  }


